.body {
  display: contents;
}

.stage-row {
  display: contents;
}
.stage-row:nth-child(2n) {
  background-color: #f8f8f8;
}
.stage-row:nth-child(2n + 1) {
  background-color: #ffffff;
}
.stage-row:hover {
  background-color: #f2f2f2;
}
