.container{
    max-width: 100%;
    background-color: #f2f2f2;
}
.footer{
    font-size: 1rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}